@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    --webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,*:before, *:after {
    -webkit-box-sizing:  inherit;
    box-sizing: inherit
}

body {
    margin: 20px 0;
    padding: 0 20px;
    line-height:  1;
    font-family: "Robot", sans-serif;
    color: #202020;
    background-color: #fbfbfb;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.container {
    display: flex;
    max-width: 900px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;

}

.container p {
    margin: 0;
}

.container .pokemon {
    width: 49%;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    overflow: hidden;
    margin-bottom: 20px;
}

.container .pokemon__name {
    background-color: #ecd018;
    text-align: center;
    padding: 10px;
}

.container .pokemon__name p {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    text-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.4);
}

.container .pokemon__image {
    padding: 20px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .pokemon__image img {
    max-width: 100%;
    height: auto;
}

.container .pokemon__attacks {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}

.container .pokemon__attacks span {
    width: 30%;
    background-color: #f16820;
    border-radius: 3px;
    padding: 7px;
    font-weight: 700;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    margin-bottom: 10px;
    word-wrap: break-down;
}

.container .pokemon__meta {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 10px;
}

.container .pokemon__meta span {
    color: white;
    background-color: #7bb7b7;
    text-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.4);
    font-weight: bold;
    margin: 0;
    padding: 5px 20px;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .container .pokemon{
        width: 100%;

    }
}

@media (max-width: 400px) {
    .container .pokemon__attacks, .container .pokemon__meta{
        flex-wrap: wrap;
        
    }
    .container .pokemon__meta span,
    .container .pokemon__attacks span,
    .container .pokemon {
        width: 100%;
    }
    .container .pokemon__meta span {
        margin-bottom: 10px;
    }
}